<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title *ngIf="!isSearchOpened">Todos los Contactos</ion-title>

		<app-search (sendSearchEvent)="getItems($event)" 
								(pressedCancelButton)="isSearchOpened=$event" 
								*ngIf="isSearchOpened"></app-search>

		<ion-buttons slot="end">
			<ion-button (click)="isSearchOpened=true">
				<ion-icon name="search" *ngIf="!isSearchOpened"></ion-icon>
			</ion-button>
		</ion-buttons>			
		
	</ion-toolbar>
</ion-header>

<ion-content class="back-color">
	<ion-grid>
		<ion-row>
			<ion-col size-md="8" offset-md="2">
				<div class="back-color">
					<ion-grid>
						<ion-row>
							<ion-col size="12">
								<app-card [contactos]="contacts" (contactoBorrado)="initializeItems()" *ngIf="!mostrarLabel"
									(sinContactos)="mostrarLabel=$event"></app-card>
							</ion-col>
							<ion-col size="12">
								<div class="ion-text-center center-self">
									<ion-label *ngIf="mostrarLabel" color="light">No hay Contactos que mostrar...</ion-label>
								</div>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>

<app-fab></app-fab>