.m-left {
	margin-left: 5px;
}
.rounded {
	border-radius: 50%;
}

.semi-rounded {
	border-radius: 15%;
}

.font-large {
	font-size: 1.5rem;
}

.back-color {
	background-color: rgb(234, 190, 240);
}

ion-card {
	border-top: 3px solid var(--ion-color-tertiary);
	background-image: url('../../../../assets/img/back02.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25%;
}

.card-container {
	margin-bottom: 10px;
}
