<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="contacts"></ion-back-button>
		</ion-buttons>
		<ion-title>Enviar Correo</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col size="10" offset="1">
				<form class="m-top" [formGroup]="forma" (ngSubmit)="onSubmit()" autocomplete="off" novalidate *ngIf="mostrar">
					<ion-card>
						<ion-card-header>
							<ion-card-title class="ion-text-center">
								Enviar Correo a:
							</ion-card-title>
							<ion-card-subtitle>
								{{ contact.firstName }} {{ contact.lastName }}
							</ion-card-subtitle>
						</ion-card-header>
						<ion-card-content>
							<!-- <ion-item>
								<ion-label position="floating">From</ion-label>
								<ion-input type="email" formControlName="from" [(ngModel)]="email.from"></ion-input>
								<ion-label *ngIf="mostrarLabel" color="warning">Debe introducir un email origen</ion-label>
							</ion-item> -->
							<ion-item>
								<ion-label position="floating">Asunto</ion-label>
								<ion-input type="text" formControlName="subject" [(ngModel)]="email.subject"></ion-input>
							</ion-item>
							<ion-item>
								<ion-label position="floating">Mensaje</ion-label>
								<ion-textarea inputmode="text" formControlName="text" [(ngModel)]="email.text"></ion-textarea>
							</ion-item>
							<ion-button [disabled]="!forma.valid" type="submit" expand="block">
								Enviar
							</ion-button>
						</ion-card-content>
					</ion-card>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>