
ion-label{
	--background: #f5a9f5 url('../assets/img/back02.jpg') no-repeat center center / cover;
}

.divider-primary {
	color: #3880ff;
}

.text-medium {
	font-size: 20px;
}
.icon-big {
	font-size: 30px;
}
